
/* ------------------------------ */
/* DESKTOP LARGE
/* ------------------------------ */

@media (min-width: 1601px) {

#main, #header, #toggles{ transform:translate3d(0,0,0); max-width:83%; margin-left:2%; margin-right:2%}
#menu-toggle{ display:none}
#nav, #filter{ right:-13%; width:13%}
#nav{ right:0; }

.filter-open #header, .filter-open #toggles, .filter-open #main,
.filter-open #loading{ transform:translate3d(-0,0,0); -o-transform: translate3d(-0,0,0); -ms-transform: translate3d(-0,0,0); -moz-transform: translate3d(-0,0,0); -webkit-transform: translate3d(-0,0,0); }
.filter-open #filter{ transform:translate3d(-100%,0,0); -o-transform: translate3d(-100%,0,0); -ms-transform: translate3d(-100%,0,0); -moz-transform: translate3d(-100%,0,0); -webkit-transform: translate3d(-100%,0,0); }

.filter-open #page-content{ transform:translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); margin-right:0 }

.thumb{ width:16.66%}

}


@media (max-width: 1600px) {



}


/* ------------------------------ */
/* TABLET
/* ------------------------------ */

@media (max-width: 1024px) {

/* CONTENT TYPES
/* ------------------------------ */

/* ARTWORK */
#artwork .close{ right:15px; top:15px}
#artwork #artwork-prev{ left:15px; }
#artwork #artwork-next{ right:15px; }

}


@media (max-width: 960px) {

/* MAIN LAYOUT 
/* ------------------------------ */
.width{ margin:0 30px}


/* PAGE ELEMENTS
/* ------------------------------ */
.thumb{ width:25%}
.thumb .inner{ padding:0 7px 14px;}
.info-bar{ margin:0 -30px; }


/* CONTENT TYPES
/* ------------------------------ */

/* ARTWORK */
#artwork .close{ right:5px; top:10px}
#artwork #artwork-prev{ left:5px; }
#artwork #artwork-next{ right:5px; }


/* VIEWS
/* ------------------------------ */

.view.thumbs{ margin:0 -7px}

/* EXHIBITIONS */
.view-exhibitions .views-field-title{ width:15%}
.view-exhibitions .views-field-body{ width:85%}

}



/* ------------------------------ */
/* MOBILE
/* ------------------------------ */

@media (max-width: 600px) {

/* MAIN LAYOUT 
/* ------------------------------ */
.width{ margin:0 10px}

.sidebar-first #page-content,
.sidebar-first #sidebar{ float:none; width:auto;}
.sidebar-first #sidebar{ margin:0 auto 30px; max-width:280px}
.sidebar-first #sidebar > .inner{ padding-left:0}


/* PAGE ELEMENTS
/* ------------------------------ */
.thumb{ width:50%}
.thumb .inner{ padding:0 5px 10px}
.info-box{ padding:20px}
.info-bar{ text-align:center; margin:0 -10px; }
.info-bar .inner{ padding-left:30px; padding-right:5px}
.info-bar .arrow{ margin:6px 0 3px; }
.info-bar #share{ top:0; margin:3px 0 6px}

/* TOGGLES */
.filter-open #project-info-toggle{ display:none}


/* CONTENT TYPES
/* ------------------------------ */

/* FRONT */
.front #overlay{ width:100% !important}
.front #logo{ margin-left:0}
.front #toggles{display:block;}
.front .toggle a{ color:#fff}
.front #nav{ right:-190px; }
.front #nav > .inner{ margin-left:0}
.front.menu-open #nav > .inner{ margin-left:-8px}
.front #nav:before{ left:0}
.front.menu-open #nav:before{ left:-8px}

/* ARTWORK */
#artwork > .inner{ padding-top:10px}
#artwork-image{ padding-bottom:20px}

.node-type-artwork #main{ margin-top:10px}


/* VIEWS
/* ------------------------------ */
.view.thumbs{ margin:0 -5px}

/* LATEST NEWS */
.view-news.view-display-teaser .full-width{ padding:20px}
.view-news.view-display-teaser .info-box{ max-width:none}

/* EXHIBITIONS */
.view-exhibitions .views-field-title,
.view-exhibitions .views-field-body{ width:100%}
.view-exhibitions .views-field-title{ font-weight:bold}

}  


@media (max-width: 480px) {

/* CONTENT TYPES
/* ------------------------------ */

/* ARTWORK */
#artwork-project-details{ display:none}	


}


@media (max-width: 400px) {

/* PAGE ELEMENTS
/* ------------------------------ */
.info-bar .arrow, .info-bar #share{ float:none; }
	
/* TOGGLES */
#filter-toggle .type{ display:none}
	
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
#logo{ background:url(../images/logo@2x.png); background-size:92px 27px; }
.front #logo{ background:url(../logo_white@2x.png); background-size:92px 27px; }

}